<div class="inmodal">
    <div class="modal-body">
        <!--div class="form-group">
            <label>Sample Input</label> 
            <input type="email" placeholder="Enter your email" class="form-control">
        </div-->
        <op-form 
            on-cancel="cancel()"
            on-submit="submit()"
            form-action="过滤"
            form-defs="fields"
            form-data="values">
        </op-form>
    </div>
    <!--div class="modal-footer">
        <button type="button" class="btn btn-white" 
            ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" 
            ng-click="submit()">过滤</button>
    </div-->
</div>

