<!--op-form 
    form-data='data' 
    form-mode='form' 
    on-submit="updateData()"
    form-defs='config.formDefs'>

    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="button"
                ng-click="cancel()">取消</button>
            <button class="btn btn-primary" type="submit"
                ng-disabled='mainForm.$invalid || !mainForm.$dirty'> 
                <span>保存</span>
            </button>
        </div>
    </div>
</op-form-->
